
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --common-font: "Poppins", sans-serif;
}

body {
  background-color: rgba(252, 245, 229, 1);
}

.header {
  margin-bottom: 34px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px;
}

.header img {
  display: block;
  margin: auto;
  padding: 10px 80px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.profile-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
}

.profile-card {
  display: flex;
  gap: 20px;
}

.profile-img {
  max-width: 190px;
  max-height: 190px;
  min-width: 80px;
  min-height: 80px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--common-font);
}

.profile-name h2 {
  max-width: 350px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
}

.profile-name p {
  max-width: 350px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-link {
  display: flex;
  gap: 8px;
  opacity: 70%;
  text-decoration: none;
}

.edit-link span {
  font-family: var(--common-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
}

.edit-link:hover {
  color: #000;
  opacity: 100%;
  transition: ease-in-out 0.2s;
}

.new-post-button {
  padding: 18px 24px 18px 32px;
  align-self: flex-end;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.new-post-button:hover {
  opacity: 80%;
  transition: ease-in-out 0.2s;
}

.new-post-button span {
  width: 73px;
  font-family: var(--common-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  text-decoration: none;
}

.new-post-button img {
  width: 12px;
  height: 12px;
}


/* Main container */
.posts-container {
  padding: 20px 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  gap: 20px;
}

.post-img {
  border-radius: 8px;
}

.post-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.like-btn {
  width: 23px;
  height: 20px;
  align-self: center; /* removed the opacity feature to make it stay red after it has been clicked */
  border: none;
  background:none;
  font-size: 20px;
}

.like-btn:hover {
  opacity: 100%;
}

.post-name {
  font-family: var(--common-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

/* Footer styling */
footer {
margin: 60px auto;
color: #666;
text-align: center;
font-family: var(--common-font);
font-weight: 400;
font-size: 16px;
line-height: 100%;
}

/* media queries for mobile responsiveness */

@media screen and (max-width: 560px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .profile-card {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    align-items: center;
    gap: 30px;
  }

  .profile-name {
    align-items: center;
    text-align: center;
  }

  .profile-name h2 {
    font-size: 20px;
  }

  .new-post-button {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .posts-container {
    grid-template-columns: 1fr;
  }
  
  .post-name {
    font-size: 16px;
  }
}







